<%- model_class = Meeting -%>

<% params[:monthsChecked].split(',').sort_by(&:to_i).each do |month| %>
  <%= render :partial => 'month_calendar_print', :locals => {:print_year => params[:yearChecked], :print_month => month} %>

  <% @observations.each do |observation| %>
    <% if observation.year.to_i == params[:yearChecked].to_i && observation.month.to_i == month.to_i %>
      <p>
        <%= observation.description %>
      </p>
    <% end %>
  <% end %>

<% end %>
