.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 150px;
  }

  .wday-0 {
    background-color: #FFF6F7;
  }
  .wday-0 p {
    background-color: #D32F2F;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}

  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }

  .prev-month p {
    background-color: #B6B6B6;
  }

  .next-month p {
    background-color: #B6B6B6;
  }


  .current-month {}

  .has-events {
  }

  .has-events  p {
    background-color: #f0ad4e;
  }


  .color-swatches{
    float: right;
  }

  .color-swatches .brand-Agro_Canal{
    background-color: #337ab7;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;
}
  .color-swatches .brand-Canal_do_Boi{
    background-color: #388E3C;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;
}
  .color-swatches .brand-Canal_Rural{
    background-color: #795548;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;
}
  .color-swatches .brand-Novo_Canal{
    background-color: #E91E63;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;
}
  .color-swatches .brand-Terra_Viva{
    background-color: #FF9800;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;
}
  .color-swatches .brand-Sem_Transmissao{
    background-color: #9E9E9E;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;
}
  .color-swatches .brand-Feriado{
    background-color: #9C27B0;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;
}
  .color-swatches .brand-Aprovado{
    background-color: #000;
    color: #000;
    background: repeating-linear-gradient(-45deg,rgba(0,0,0,0),rgba(0,0,0,0) 10px,rgba(0,0,0,.15) 80px,rgba(0,0,0,.1) 20px);
    width: 130px;
    height: 30px;
    float: left;
    border-radius: 1px;
    font-weight: bold;
    text-align: center;  
}
  div .approved {
    background: repeating-linear-gradient(-45deg,rgba(0,0,0,0),rgba(0,0,0,0) 10px,rgba(0,0,0,.15) 80px,rgba(0,0,0,.1) 20px);
    width: 100%;
    height: 100%;
}


}